#content{
	width:1423px;
	height:840px;
	margin-top: -60px;
}
#content>div{
	width:960px;
	height: 840px;
	margin: 0px auto;
}
/*左半部分*/
#con-left{
	width:420px;
	height:838px;
	float: left;
	margin-left: 40px;
}
#con-left h1{
	color:#852363;
	font-style: oblique;
	font-weight: bold;
}
#con-left h2{
	background: url(img/sprite-icons.gif) no-repeat 0px 1px;
	color:#84284d;
	margin-top: 15px;
	padding-left: 25px;
	font-weight: normal;
}
#con-left p{
	color: #833968;
	line-height: 32px;
}

/*右半部分*/
#con-right{
	width:420px;
	height:794px;
	float: left;
	margin-left: 40px;
}
#con-right1{
	width:460px;
	height: 238px;
	float: left;
	margin-top: 10px;
	background: url(img/bg-sweets.gif) no-repeat;

}
#con-right1>div{
	width:460px;
	height: 205px;
	background: url(img/pie.jpg) no-repeat 200px 36px;
}
#con-right1 h1{
	padding-top: 25px;
	text-indent: 0.5em;
	color: #d14688;
}
#con-right1 h2{
	text-indent: 1em;
	color: #6f3f52;
}
#con-right1>div a{
	display: block;
	width:150px;
	height: 40px;
	background:-webkit-linear-gradient(top,#faebec 10%,#f7dee1 40%,#f4d3d4 ); 
	border:1px solid #6f3f52;
	font-size: 20px;
	border-radius: 10px;
	color:#6f3f52;
	text-align: center;
	line-height: 40px;
	position: relative;
	top:40px;
	left: 30px;
	text-decoration: none;
}

#con-right h1{
	color:#852363;
	margin-top: 5px;
	font-weight: normal;
}
#con-right p{
	color: #833968;
	line-height: 32px;
}
